Django==5.2.11
psycopg==3.3.3
psycopg-binary==3.3.3
djangorestframework==3.15.2
flake8==7.1.0
black==24.4.2
isort==5.13.2
python-decouple==3.8
django-cors-headers==4.3.1
pre-commit==3.7.1
minio==7.2.7
Pillow
django-prometheus==2.3.1
django-redis>=5.4.0
pytest==8.3.5
pytest-django==4.9.0
pytest-cov==5.0.0
factory-boy==3.3.1
drf-spectacular==0.27.0
uritemplate==4.1.1
werkzeug>=3.1.8
